/* #header top should be fixed an have the correct z-index */
/* remove fixed props from old header selector  */
/* menu should have right -100% initially and then be moved to 0 */
/* menu should take up 50vw, 100vw on mobile */
/* menu should be scrollable */

/* reorder main and flex it */
/* set width of each section to 50%, 100% on mobile */
/* check that it aligns with the menu */
/* Center vertically */

/* Clear default styling */
* {
  box-sizing: border-box;
  font-size: inherit !important;
  margin: 0;
  padding: 0;
  font-style: inherit;
  font-style: normal !important;
  font-weight: 400 !important;
  border: none;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  background-color: #ffa6a6;
  font-family: Helvetica, Arial, sans-serif;
  /* font-size: 62.5%; */
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  overflow-y: scroll;
  font-size: 1.5rem !important;
  line-height: 1.25em;
}

header {
  background-color: #ffa6a6;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
}

#canvas-button {
  background-color: #ffa6a6;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 666;
  border: 2px solid black;
  padding: 0.625rem;
  margin: 0.625rem;
  width: auto;
  font-size: 1rem !important;
  font-style: italic;
  line-height: 1.25em;
}

#canvas-button:hover {
  background-color: black;
  color: #ffa6a6;
}

button {
  color: black;
}


#header-top {
  height: 7.5vh;
  padding: 0.625rem;
  border-bottom: 2px solid black;
}

#header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  align-items: center;
}

menu {
  background-color: #ffa6a6;
  z-index: 777;
  padding-top: 7.5vh;
  position: fixed;
  right: 0;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
  transition: top 0.3s ease;
}

#menu-button {
  transition: transform 0.3s ease;
}

#menu-button.open {
  transform: rotate(180deg);
}

#menu-button:not(.open) {
  transform: rotate(0deg);
}

menu.open {
  top: 0;
}

menu:not(.open) {
  top: -150%;
}

.header-section {
  padding: 0.625rem;
  border-bottom: 2px solid black;
}

li {
  list-style-position: inside;
}

button {
  cursor: pointer;
}

a {
  transition: color 0.3s ease;
  color: inherit;
  text-decoration: none !important;
}

a[target='_blank']::after {
  margin-left: 0.2em;
  font-size: 0.8em;
  content: '\2197';
  font-style: bold !important;
}

a:hover {
  text-decoration: underline !important;
  color: red;
}

body {
  min-height: 100vh;
}

main {
  display: flex;
  min-height: 100vh;
  border-top: 2px solid black;
  overflow-y: scroll;
  height: 100%;
  padding: 7.5vh 0.625rem 0.625rem 0.625rem;
}

#content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

#content > #intro-column {
  flex-grow: 1;
}

#content > #text-column,
#content > #image-column {
  width: 50%;
  flex-grow: 0;
}

#intro-column {
  padding-bottom: 0.625rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

#description-intro {
  font-size: 2rem !important;
  line-height: 1.15em;
}

#text-column {
  display: flex;
  justify-content: start;
  align-items: start;
}

/* center image in image column */
#image-column {
  display: flex;
  justify-content: center;
  align-items: start;
}

.image-container {
  max-width: 100%;
}

/* #description-container {
  padding-left: 50px;
} */

#image {
  max-width: 100%;
  height: auto;
}

#image-description {
  font-size: 1rem !important;
  font-style: italic;
  line-height: 1.25em;
}

#canvas-container.open {
  top: 0;
}


#canvas-container:not(.open) {
  top: -100%;
}

#canvas-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
}

#canvas {
  cursor: url('./cursor.png'), default;
  height: 100%;
  width: 100%;
}

#content > section {
  padding: 0.625rem 0;
}

#description-container {
  padding-right: 0.625rem;

}

/* media query for tablets */
@media (max-width: 1024px) {
  body {
    font-size: 1.15rem !important;
  }
  #description-intro {
    font-size: 1.5rem !important;
  }
}

/* media query for smaller screens */
@media (max-width: 768px) {
  body {
    font-size: 1.15rem !important;
  }
  #description-intro {
    font-size: 1.5rem !important;
  }
  menu {
    width: 100vw;
    border-left: none;
  }
  #content > #intro-column {
    flex-grow: 1;
  }

  #intro-column {
    order: 1;
  }

  #image-column {
    order: 2;
  }
  #text-column {
    order: 3;
  }

  #content > #text-column,
  #content > #image-column {
    width: 100%;
    flex-grow: 0;
  }

  #description-container {
    padding-right: 0;
    padding-bottom: 3rem;

  }
}
